<nav>
  <ul class="pagination justify-content-end">
    <li class="page-item {{'disabled' if page == 0 else ''}}">
      <a class="page-link" onclick={{ function+"(" + (page-1)|string + ")" }} tabindex="-1"
        aria-disabled="true">Предыдущая страница</a>
    </li>
    {% for el in range(count//11+1) %}
    <li class="page-item {{'disabled' if page == el else ''}}"><a class="page-link" onclick={{ function+"("+ el|string
        + ")" }}>{{ el+1 }}</a></li>
    {% endfor %}
    <li class="page-item {{'disabled' if page == count // 11 else ''}}">
      <a class="page-link" onclick={{ function+"(" + (page+1)|string + ")" }}>Следующая страница</a>
    </li>
  </ul>
</nav>
