{% extends "base.html" %}
{% set active_page = "projects" %}
{% block content %}
<h1>Проекты</h1>
<br />
<div class="btn-group" role="group">
    <a class="btn btn-light" data-bs-toggle="collapse" href="#collapseFilters" role="button" aria-expanded="false"
        aria-controls="collapseFilters">
        Добавить фильтры
    </a>
</div>
<br />
<div class="collapse" id="collapseFilters">
    <br />
    <input type="text" id="projectFilter" class="form-control" placeholder="Фильтр по названию проекта"
        aria-label="projectFilter" aria-describedby="basic-addon1">
    <br />
    <select class="form-select" id="stadiaFilter">
        <option value="">Не использовать фильтр по стадии</option>
        {% for el in stadia %}
        <option value="{{ el.StadiaOfProjects.IDstadiaofpr }}"> {{
            el.StadiaOfProjects.stadiaofprName }}
        </option>
        {% endfor %}
    </select>
    <br />
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" id="buttonFilter" onClick="applyProjectFilters()">
            Применить фильтры
        </button>
        <button type="button" class="btn btn-light" id="buttonDropFilter" onClick="dropProjectFilter()">
            Сбросить фильтр
        </button>
    </div>
</div>
<br />
<div class="accordion" id="projectsAccordion">
    {% include "resultAccordionProjects.html" %}
</div>
<br>
<div class="btn-group" role="group">
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAdd">
        Создать заявку на организацию проекта
    </button> -->
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalModify">
        Редактировать паспорт проекта
    </button>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete">
        Удалить паспорт проекта
    </button>
</div>

<!-- <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="modalAddLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddLabel">Создание заявки на организацию проекта</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="addProject" method="post">
                    <div class="form-group">
                        <label for="projectName" class="form-select-label">Введите название проекта</label>
                        <input type="text" class="form-control" id="projectName" name="projectName" required>
                    </div>
                    <div class="form-group">
                        <label for="iniciator" class="form-select-label">Выберите инициатора</label>
                        <select class="form-select" name="iniciator" {% if iniciators==[] %} disabled {% endif %}>
                            {% for el in iniciators %}
                            <option value="{{ el.Initiatorsofprojects.IDinitpr }}"> {{ el.Organizations.orgName }} - {{
                                el.Initiatorsofprojects.FullName }}
                            </option>
                            {% endfor %}
                            {% if iniciators == [] %}
                            <option value="">Инициаторы не найдены</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sheffpr" class="form-select-label">Выберите руководителя проектами</label>
                        <select class="form-select" name="sheffpr" {% if sheffpr==[] %} disabled {% endif %}>
                            {% for el in sheffpr %}
                            <option value="{{ el.Sheffofprojects.IDsheffpr }}"> {{ el.Sheffofprojects.FullName }} - {{
                                el.Sheffofprojects.positionsName.positionsName }}
                            </option>
                            {% endfor %}
                            {% if sheffpr == [] %}
                            <option value="">Руководители не найдены</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="problem" class="form-select-label">Введите описание проблемы, <br>на решение которой
                            направлен проект</label>
                        <input type="text" class="form-control" id="problem" name="problem" required>
                    </div>
                    <div class="form-group">
                        <label for="startDate" class="form-control-label">Дата начала</label>
                        <input class="form-control" id="startDate" name="startDate" type="date"></input>
                    </div>
                    <div class="form-group">
                        <label for="purpose" class="form-select-label">Цель проекта</label>
                        <input type="text" class="form-control" id="purpose" name="purpose" required>
                    </div>
                    <div class="form-group">
                        <label for="tasks" class="form-select-label">Задачи проекта</label>
                        <input type="text" class="form-control" id="tasks" name="tasks" required>
                    </div>
                    <div class="form-group">
                        <label for="result" class="form-select-label">Планируемые результаты проекта</label>
                        <input type="text" class="form-control" id="result" name="result" required>
                    </div>
                    <div class="form-group">
                        <label for="content" class="form-select-label">Краткое содержание проекта</label>
                        <input type="text" class="form-control" id="content" name="content">
                    </div>
                    <div class="form-group">
                        <label for="deadline" class="form-select-label">Сроки реализации проекта</label>
                        <input type="text" class="form-control" id="deadline" name="deadline">
                    </div>
                    <div class="form-group">
                        <label for="stages" class="form-select-label">Календарный план</label>
                        <input type="text" class="form-control" id="stages" name="stages">
                    </div>
                    <div class="form-group">
                        <label for="resource" class="form-select-label">Ресурсное обеспечение</label>
                        <input type="text" class="form-control" id="resource" name="resource">
                    </div>
                    <div class="form-group">
                        <label for="cost" class="form-select-label">Затраты на выполнение проекта</label>
                        <input type="text" class="form-control" id="cost" name="cost">
                    </div>
                    <div class="form-group">
                        <label for="criteria" class="form-select-label">Критерии оценки результатов проекта</label>
                        <input type="text" class="form-control" id="criteria" name="criteria">
                    </div>
                    <div class="form-group">
                        <label for="formResult" class="form-select-label">Форма представления результата проекта</label>
                        <input type="text" class="form-control" id="formResult" name="formResult">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary" {% if iniciators==[] %} disabled {% endif
                            %}>Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<div class="modal fade" id="modalModify" tabindex="-1" aria-labelledby="modalModifyLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalModifyLabel">Редактировать паспорт проекта</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="modifyProject" method="post">
                    <div class="form-group">
                        <label for="modifyProject" class="form-select-label">Выберите проект</label>
                        <select class="form-select" name="modifyProject" {% if projects==[] %} disabled {% endif %}>
                            {% for el in projects %}
                            <option value="{{ el.Projects.IDprojects }}"> {{ el.PassportOfProjects.passportName }}
                            </option>
                            {% endfor %}
                            {% if projects == [] %}
                            <option value="">Проекты не найдены</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="projectName" class="form-select-label">Введите название проекта</label>
                        <textarea class="form-control" rows="3" id="projectName" name="projectName"></textarea>
                    </div>
                    <!-- <div class="form-group">
                        <label for="stadia" class="form-select-label">Выберите стадию проекта</label>
                        <select class="form-select" name="stadia" id="stadia" {% if stadia_modify==[] or
                            stadia_modify|length==1 %} disabled {% endif %}>
                            {% for el in stadia_modify %}
                            <option value="{{ el.StadiaOfProjects.IDstadiaofpr if stadia_modify|length != 1 else '' }}">
                                {{
                                el.StadiaOfProjects.stadiaofprName }}
                            </option>
                            {% endfor %}
                            {% if stadia_modify == [] %}
                            <option value="">Стадии проекта отсутствуют</option>
                            {% endif %}
                        </select>
                    </div> -->
                    <div class="form-group">
                        <label for="problem" class="form-select-label">Введите описание проблемы, <br>на решение которой
                            направлен проект</label>
                        <textarea class="form-control" rows="5" id="problem" name="problem"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="purpose" class="form-select-label">Цель проекта</label>
                        <textarea class="form-control" rows="3" id="purpose" name="purpose"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tasks" class="form-select-label">Задачи проекта</label>
                        <textarea class="form-control" rows="3" id="tasks" name="tasks"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="result" class="form-select-label">Планируемые результаты проекта</label>
                        <textarea class="form-control" rows="5" id="result" name="result"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="content" class="form-select-label">Краткое содержание проекта</label>
                        <textarea class="form-control" rows="7" id="content" name="content"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="deadline" class="form-select-label">Сроки реализации проекта</label>
                        <textarea class="form-control" rows="3" id="deadline" name="deadline"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="stages" class="form-select-label">Календарный план</label>
                        <textarea class="form-control" rows="5" id="stages" name="stages"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="resource" class="form-select-label">Ресурсное обеспечение</label>
                        <textarea class="form-control" rows="3" id="resource" name="resource"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="cost" class="form-select-label">Затраты на выполнение проекта</label>
                        <textarea class="form-control" rows="3" id="cost" name="cost"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="criteria" class="form-select-label">Критерии оценки результатов проекта</label>
                        <textarea class="form-control" rows="3" id="criteria" name="criteria"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="formResult" class="form-select-label">Форма представления результата проекта</label>
                        <textarea class="form-control" rows="3" id="formResult" name="formResult"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary" {% if projects==[] %} disabled {% endif
                            %}>Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteLabel">Редактировать паспорт проекта</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="deleteProject" method="post">
                    <div class="form-group">
                        <label for="deleteProject" class="form-select-label">Выберите проект</label>
                        <select class="form-select" name="deleteProject" {% if projects==[] %} disabled {% endif %}>
                            {% for el in projects %}
                            <option value="{{ el.Projects.IDprojects }}"> {{ el.PassportOfProjects.passportName }}
                            </option>
                            {% endfor %}
                            {% if projects == [] %}
                            <option value="">Проекты не найдены</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-danger" {% if projects==[] %} disabled {% endif
                            %}>Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
