{% for proj in projects %}
<div id='accordionProjectWrapper' class="accordion-item">
    <h2 class="accordion-header" id="accordion{{ proj[0] }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse{{ proj[0] }}" aria-expanded="false" aria-controls="collapse{{ proj[0] }}">
            {{ proj[1] }}
        </button>
    </h2>
    <div id="collapse{{ proj[0] }}" class="accordion-collapse collapse" aria-labelledby="heading{{ proj[0] }}"
        data-bs-parent="#accordionProjectWrapper">
        <div id='accordionRolesWrapper' class="accordion-body">
            {% for el in approved %}
            {% if proj[0] == el.PassportOfProjects.IDpassport %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="accordion{{ proj[0] }}_{{ el.StudentsInProjects.IDstudentspr }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ proj[0] }}_{{ el.StudentsInProjects.IDstudentspr }}"
                        aria-expanded="false"
                        aria-controls="collapse{{ proj[0] }}_{{ el.StudentsInProjects.IDstudentspr }}">
                        {{ el.Students.FullName }}
                    </button>
                </h2>
                <div id="collapse{{ proj[0] }}_{{ el.StudentsInProjects.IDstudentspr }}"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading{{ proj[0] }}_{{ el.StudentsInProjects.IDstudentspr }}"
                    data-bs-parent="#projectsAccordion">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h5 class="mb-1">ФИО студента</h5>{{ el.Students.FullName }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Группа</h5>{{ el.Groups.groupsName }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Название проекта</h5> {{ el.PassportOfProjects.passportName }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Роль в проекте</h5>{{ el.RolesOfProjects.rolesRole }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Функционал</h5>{{ el.RolesOfProjects.rolesFunction }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Заявка на участие</h5><a
                                    href="/getApplication?idApplication={{ el.StudentsInProjects.IDapplications }}"
                                    role="button" class="btn btn-primary">Скачать</a>
                            </li>
                            <li class="list-group-item" {% if not el.Confirmation.IDconfirmation %} hidden {% endif %}>
                                <h5 class="mb-1">Период участия в проекте</h5>{{ el.Confirmation.confirmationPeriod }}
                            </li>
                            <li class="list-group-item" {% if not el.Confirmation.IDconfirmation %} hidden {% endif %}>
                                <h5 class="mb-1">Полученные результаты</h5>{{ el.Confirmation.confirmationResults }}
                            </li>
                            <li class="list-group-item" {% if not el.Confirmation.IDconfirmation %} hidden {% endif %}>
                                <h5 class="mb-1">Уровень компетенций</h5>{{ el.Levels.levelsName }}
                            </li>
                            <li class="list-group-item" {% if not el.Confirmation.IDconfirmation %} hidden {% endif %}>
                                <h5 class="mb-1">Подтверждение на участие в проекте</h5>
                                <div class="btn-toolbar justify-content-between" role="toolbar"
                                    id="confirmed{{ el.Confirmation.IDconfirmation }}">
                                    {% with idconfirm=el.Confirmation.IDconfirmation,
                                    signed=el.Confirmation.confirmationSigned %}
                                    {% include "confirmed_template.html" %}
                                    {% endwith %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

{% if projects == [] %}
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" disabled>
            Данные не найдены
        </button>
    </h2>
</div>
{% endif %}
