{% for el in contracts %}
<tr>
  <td>{{ el.Contracts.organizations.orgName }}</td>
  <td> {{ el.Contracts.organizations.orgYuraddress }}</td>
  <td>{{ el.Contracts.contractsNumber }}</td>
  <td>{{ el.Contracts.contractsStart }}</td>
  <td>{{ el.Contracts.contractsFinish }}</td>
  <td><a href="/getContract?idContract={{ el.Contracts.IDcontracts }}" role="button"
      class="btn btn-primary">Скачать</button></td>
  <td>
    <a href="/getContractSigned?idContract={{ el.Contracts.IDcontracts }}" role="button"
      aria-disabled="{{ el.Contracts.contractsSigned is none }}"
      class="btn btn-primary {{ 'disabled' if el.Contracts.contractsSigned is none else '' }}">Скачать</a>
    <div class="input-group mb-3">
      <button class="btn btn-outline-secondary" value="{{ el.Contracts.IDcontracts }}" type="button"
        onclick="uploadFile(this.value)" id="button-upload{{ el.Contracts.IDcontracts }}">Загрузить</button>
      <input type="file" accept=".doc,.docx,.pdf" class="form-control" id="input-upload{{ el.Contracts.IDcontracts }}"
        aria-describedby="button-upload{{ el.Contracts.IDcontracts }}" aria-label="Upload">
    </div>
    <button {% if el.Contracts.contractsSigned is none %} disabled {% endif %} class="btn btn-danger"
      value="{{ el.Contracts.IDcontracts }}" onclick="deleteFile(this.value)">Удалить</button>
  </td>
</tr>
{% endfor %}

{% if contracts == [] %}
<tr>
  <td colspan="7">
    <div> Данных не найдено </div>
  </td>
</tr>
{% endif %}
