{% for el in projects %}
<div class="accordion-item">
    <h2 class="accordion-header" id="accordion{{ el.Projects.IDprojects }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse{{ el.Projects.IDprojects }}" aria-expanded="false"
            aria-controls="collapse{{ el.Projects.IDprojects }}">
            {{ el.PassportOfProjects.passportName }}
        </button>
    </h2>
    <div id="collapse{{ el.Projects.IDprojects }}" class="accordion-collapse collapse"
        aria-labelledby="heading{{ el.Projects.IDprojects }}" data-bs-parent="#projectsAccordion">
        <div class="accordion-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5 class="mb-1">Название</h5>{{ el.PassportOfProjects.passportName }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Инициатор проекта</h5>{{ el.Initiatorsofprojects.FullName }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Описание проблемы</h5>{{ el.PassportOfProjects.passportProblem }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Цель проекта</h5> {{ el.PassportOfProjects.passportPurpose }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Задачи проекта</h5>{{ el.PassportOfProjects.passportTasks }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Планируемые результаты</h5>{{ el.PassportOfProjects.passportResults }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Статус проекта</h5> {{ el.StadiaOfProjects.stadiaofprName }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Планируемые результаты</h5>{{ el.PassportOfProjects.passportResults }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Краткое содержание проекта</h5>{{ el.PassportOfProjects.passportContent or 'Не
                    заполнено' }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Сроки реализации проекта</h5>{{ el.PassportOfProjects.passportDeadlines or 'Не
                    заполнено' }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Календарный план</h5>{{ el.PassportOfProjects.passportStages or 'Не заполнено' }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Ресурсное обеспечение</h5>{{ el.PassportOfProjects.passportResources or 'Не
                    заполнено' }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Затраты на выполнение проекта</h5>{{ el.PassportOfProjects.passportCost or 'Не
                    заполнено' }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Критерии оценки результатов проекта</h5>{{ el.PassportOfProjects.passportCriteria
                    or 'Не заполнено'
                    }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Форма представления результата проекта</h5>{{
                    el.PassportOfProjects.passportFormresults or 'Не заполнено' }}
                </li>
                <li class="list-group-item" {% if session['url']=='student' %} hidden {% endif %}>
                    <h5 class="mb-1">Результаты проекта</h5>
                    <div class="btn-toolbar justify-content-between" role="toolbar">
                        <div class="d-grid gap-2 col-4">
                            <a href="/getFullProject?idProject={{ el.Projects.IDprojects }}" role="button"
                                class="btn btn-primary h-50 {{ 'disabled' if not el.Projects.projectsFull else '' }} d-inline-block"
                                {% if session['url']!='shefforg' %} hidden {% endif %}>Скачать результат проекта</a>
                        </div>
                        <div class="d-grid gap-2 col-4">
                            <input type="file" class="form-control"
                                id="input-upload-result{{ el.PassportOfProjects.IDpassport }}"
                                aria-describedby="button-upload-result{{ el.PassportOfProjects.IDpassport }}"
                                aria-label="Upload" {% if session['url']!='sheffproj' %} hidden {% endif %} {% if
                                el.StadiaOfProjects.IDstadiaofpr < 2 %} disabled {% endif %}>
                            <button class="btn btn-outline-secondary" value="{{ el.Projects.IDprojects }}" type="button"
                                onclick="uploadResultFile(this.value)"
                                id="button-upload-result{{ el.PassportOfProjects.IDpassport }}" {% if
                                session['url']!='sheffproj' %} hidden {% endif %} {% if el.StadiaOfProjects.IDstadiaofpr
                                < 2 %} disabled {% endif %}>Загрузить результат проекта</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" {% if session['url']=='student' %} hidden {% endif %}>
                    <h5 class="mb-1">Документы для проекта</h5>
                    <div class="btn-toolbar justify-content-between" role="toolbar">
                        <div class="d-grid gap-2 col-3">
                            <a href="/getPassport?idPassport={{ el.PassportOfProjects.IDpassport }}" role="button"
                                class="btn btn-primary {{ 'h-100' if session['url']=='shefforg' or
                                session['url']=='student' else 'h-50' }} {{ 'disabled' if el.StadiaOfProjects.IDstadiaofpr < 2 else '' }} d-inline-block"
                                {% if session['url']=='shefforg' %} hidden {% endif %}>Скачать
                                электронную версию</a>
                        </div>
                        <div class="d-grid gap-2 col-3" role="group">
                            <a href="/getPassportSigned?idPassport={{ el.PassportOfProjects.IDpassport }}" role="button"
                                class="btn btn-primary btn {{ 'disabled' if not el.PassportOfProjects.passportSigned else '' }}">Скачать
                                подписанную версию</a>
                            <button {% if session['url']=='shefforg' %} hidden {% endif %} {% if not
                                el.PassportOfProjects.passportSigned %} disabled {% endif %} class="btn btn-danger btn"
                                value="{{ el.PassportOfProjects.IDpassport }}"
                                onclick="deletePassportFile(this.value)">Удалить подписанную версию</button>
                        </div>

                        <div class="d-grid gap-2 col-3">
                            <input type="file" accept=".doc,.docx,.pdf" class="form-control"
                                id="input-upload{{ el.PassportOfProjects.IDpassport }}"
                                aria-describedby="button-upload{{ el.PassportOfProjects.IDpassport }}"
                                aria-label="Upload" {% if session['url']=='shefforg' %} hidden {% endif %} {% if
                                el.StadiaOfProjects.IDstadiaofpr < 2 %} disabled {% endif %}>
                            <button class="btn btn-outline-secondary" value="{{ el.PassportOfProjects.IDpassport }}"
                                type="button" onclick="uploadPassportFile(this.value)"
                                id="button-upload{{ el.PassportOfProjects.IDpassport }}" {% if
                                session['url']=='shefforg' %} hidden {% endif %} {% if el.StadiaOfProjects.IDstadiaofpr
                                < 2 %} disabled {% endif %}>Загрузить</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}

{% if projects == [] %}
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" disabled>
            Данные не найдены
        </button>
    </h2>
</div>
{% endif %}
