{% for proj in projects %}
<div id='accordionProjectWrapper' class="accordion-item">
    <h2 class="accordion-header" id="accordion{{ proj[0] }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse{{ proj[0] }}" aria-expanded="false" aria-controls="collapse{{ proj[0] }}">
            {{ proj[1] }}
        </button>
    </h2>
    <div id="collapse{{ proj[0] }}" class="accordion-collapse collapse" aria-labelledby="heading{{ proj[0] }}"
        data-bs-parent="#accordionProjectWrapper">
        <div id='accordionRolesWrapper' class="accordion-body">
            {% for el in confirmations %}
            {% if proj[0] == el.PassportOfProjects.IDpassport %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="accordion{{ proj[0] }}_{{ el.Confirmation.IDconfirmation }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ proj[0] }}_{{ el.Confirmation.IDconfirmation }}"
                        aria-expanded="false"
                        aria-controls="collapse{{ proj[0] }}_{{ el.Confirmation.IDconfirmation }}">
                        {{ el.Students.FullName }}
                    </button>
                </h2>
                <div id="collapse{{ proj[0] }}_{{ el.Confirmation.IDconfirmation }}" class="accordion-collapse collapse"
                    aria-labelledby="heading{{ proj[0] }}_{{ el.Confirmation.IDconfirmation }}"
                    data-bs-parent="#projectsAccordion">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h5 class="mb-1">ФИО студента</h5>{{ el.Students.FullName }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Группа</h5>{{ el.Groups.groupsName }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Название проекта</h5> {{ el.PassportOfProjects.passportName }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Роль в проекте</h5>{{ el.RolesOfProjects.rolesRole }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Функционал</h5>{{ el.RolesOfProjects.rolesFunction }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Период участия в проекте</h5>{{ el.Confirmation.confirmationPeriod }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Полученные результаты</h5>{{ el.Confirmation.confirmationResults }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Уровень компетенций</h5>{{ el.Levels.levelsName }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Подтвержденная заявка на участие в проекте</h5>
                                <div class="btn-toolbar justify-content-between" role="toolbar">
                                    <a href="/getConfirmation?idConfirmation={{ el.Confirmation.IDconfirmation }}"
                                        role="button" class="btn btn-primary" {% if session['url']!='sheffproj' %}
                                        hidden {% endif %}>Скачать электронную версию</a>
                                    <a href="/getConfirmationSigned?idConfirmation={{ el.Confirmation.IDconfirmation }}"
                                        role="button" class="btn btn-primary {{ 'disabled' if not el.Confirmation.confirmationSigned or
                                        el.StudentsInProjects.IDstadiaofworks!=3 else '' }}">Скачать
                                        подписанную версию</a>
                                    <button {% if not el.Confirmation.confirmationSigned %} disabled {% endif %} {% if
                                        session['url']!='sheffproj' %} hidden {% endif %} class="btn btn-danger btn"
                                        value="{{ el.Confirmation.IDconfirmation }}"
                                        onclick="deleteConfirmation(this.value)">Удалить</button>
                                    <div class="input-group mb-0" {% if session['url']!='sheffproj' %} hidden {% endif
                                        %}>
                                        <button class="btn btn-outline-secondary"
                                            value="{{ el.Confirmation.IDconfirmation }}" type="button"
                                            onclick="uploadConfirmation(this.value)"
                                            id="button-upload{{ el.Confirmation.IDconfirmation }}">Загрузить</button>
                                        <input type="file" accept=".doc,.docx,.pdf" class="form-control"
                                            id="input-upload{{ el.Confirmation.IDconfirmation }}"
                                            aria-describedby="button-upload{{ el.Confirmation.IDconfirmation }}"
                                            aria-label="Upload">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

{% if projects == [] %}
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" disabled>
            Данные не найдены
        </button>
    </h2>
</div>
{% endif %}
