{% for el in projects %}
<div id='accordionProjectWrapper' class="accordion-item">
    <h2 class="accordion-header" id="accordion{{ el[0] }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse{{ el[0] }}" aria-expanded="false" aria-controls="collapse{{ el[0] }}">
            {{ el[1] }}
        </button>
    </h2>
    <div id="collapse{{ el[0] }}" class="accordion-collapse collapse" aria-labelledby="heading{{ el[0] }}"
        data-bs-parent="#accordionProjectWrapper">
        <div id='accordionRolesWrapper' class="accordion-body">
            {% for mem in roles %}
            {% if el[0] == mem.RolesOfProjects.IDpassport %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="accordion{{ el[0] }}_{{ mem.RolesOfProjects.IDroles }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ el[0] }}_{{ mem.RolesOfProjects.IDroles }}" aria-expanded="false"
                        aria-controls="collapse{{ el[0] }}_{{ mem.RolesOfProjects.IDroles }}">
                        {{ mem.RolesOfProjects.rolesRole }} ({{ mem.RolesOfProjects.rolesFunction }}) - Количество мест:
                        {{ mem.RolesOfProjects.rolesAmount }}
                    </button>
                </h2>
                <div id="collapse{{ el[0] }}_{{ mem.RolesOfProjects.IDroles }}" class="accordion-collapse collapse"
                    aria-labelledby="heading{{ el[0] }}_{{ mem.RolesOfProjects.IDroles }}"
                    data-bs-parent="#accordionRolesWrapper">
                    <div class="accordion-body">
                        {% for stud in students %}
                        {% if stud[0] == mem.RolesOfProjects.IDroles %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h5 class="mb-1">ФИО</h5>{{ stud[1] }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Группа</h5>{{ stud[4] }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Функции участника проекта</h5>{{ mem.RolesOfProjects.rolesFunction }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">ОПОП</h5>
                                {% autoescape false %}
                                <p>{{ stud[3] }}</p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Трудоемкость (з.е.)</h5>{{ mem.RolesOfProjects.rolesCost if
                                mem.RolesOfProjects.rolesCost else 'Трудоемкость не указана' }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Перечень компетенций</h5>
                                <p>{{ stud[2] }}</p>
                                {% endautoescape %}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Требования к участникам</h5> {{ mem.RolesOfProjects.rolesRequirements
                                }}
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-1">Статус работы</h5> {{ stud[7] }}
                            </li>
                            <li class="list-group-item">
                                <div class="btn-toolbar justify-content-between" role="toolbar">
                                    <a href="/workResult?idwork={{ stud[5] }}" role="button"
                                        class="btn btn-primary {{ 'disabled' if not stud[6] else '' }} d-inline-block">Скачать
                                        результат работы</a>
                                </div>
                            </li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

{% if projects == [] %}
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" disabled>
            Данные не найдены
        </button>
    </h2>
</div>
{% endif %}
<br>
{% include "pagination.html" %}
