{% for el in applications %}
<tr>
    <td>{{ el.PassportOfProjects.passportName }}</td>
    <td> {% if el.Applications.applicationApproved == 0 %} На рассмотрении {% elif el.Applications.applicationApproved
        == 1 %}
        Одобрено {% else %} Не одобрено {% endif %}</td>
    <td>{{ el.Applications.applicationsCourse }}</td>
    <td>{{ el.Applications.applicationsPurpose }}</td>
    <td>{{ el.RolesOfProjects.rolesRole }} - {{ el.RolesOfProjects.rolesFunction }}</td>
    <td><a href="/getApplication?idApplication={{ el.Applications.IDapplications }}" role="button"
            class="btn btn-primary">Скачать</button></td>
    <td class="col-md-4">
        <a href="/getConfirmationSigned?idConfirmation={{ el.Confirmation.IDconfirmation }}" role="button"
            class="btn btn-primary {{ 'disabled' if not el.Confirmation.confirmationSigned else '' }}">Скачать</a>
    </td>
</tr>
{% endfor %}

{% if applications == [] %}
<tr>
    <td colspan="7">
        <div> Данных не найдено </div>
    </td>
</tr>
{% endif %}
