{% for el in projects %}
<div id='accordionProjectWrapper' class="accordion-item">
  <h2 class="accordion-header" id="accordion{{ el[0] }}">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapse{{ el[0] }}" aria-expanded="false" aria-controls="collapse{{ el[0] }}">
      {{ el[1] }}
    </button>
  </h2>
  <div id="collapse{{ el[0] }}" class="accordion-collapse collapse" data-bs-parent="#accordionProjectWrapper">
    <div id='accordionRolesWrapper' class="accordion-body">
      {% for role in roles %}
      {% if role[0] == el[0] %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="accordion{{ el[0] }}_{{ role[3] }}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse{{ el[0] }}_{{ role[3] }}" aria-expanded="false"
            aria-controls="collapse{{ el[0] }}_{{ role[3] }}">
            {{ role[4] }} ({{ role[5] }})
          </button>
        </h2>
        <div id="collapse{{ el[0] }}_{{ role[3] }}" class="accordion-collapse collapse"
          aria-labelledby="heading{{ el[0] }}_{{ role[3] }}" data-bs-parent="#accordionRolesWrapper">
          <div class="accordion-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5 class="mb-1">Роль в проекте</h5>{{ role[4] }}
              </li>
              <li class="list-group-item">
                <h5 class="mb-1">Количество вакантных мест</h5>{{ role[6] }}
              </li>
              <li class="list-group-item">
                <h5 class="mb-1">Функции участника проекта</h5>{{ role[5] }}
              </li>
              <li class="list-group-item">
                {% autoescape false %}
                <h5 class="mb-1">ОПОП</h5>{{ role[9] }}
              </li>
              <li class="list-group-item">
                <h5 class="mb-1">Трудоемкость (з.е.)</h5>{{ role[7] }}
              </li>
              <li class="list-group-item">
                <h5 class="mb-1">Перечень компетенций</h5>
                {{ role[10] }}
                {% endautoescape %}
              </li>
              <li class="list-group-item">
                <h5 class="mb-1">Требования к участникам</h5> {{ role[8] }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}

{% if projects == [] %}
<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button" type="button" disabled>
      Данные не найдены
    </button>
  </h2>
</div>
{% endif %}
