{% for el in projects %}
<div class="accordion-item">
    <h2 class="accordion-header" id="accordion{{ el.Projects.IDprojects }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse{{ el.Projects.IDprojects }}" aria-expanded="false"
            aria-controls="collapse{{ el.Projects.IDprojects }}">
            {{ el.PassportOfProjects.passportName }}
        </button>
    </h2>
    <div id="collapse{{ el.Projects.IDprojects }}" class="accordion-collapse collapse"
        aria-labelledby="heading{{ el.Projects.IDprojects }}" data-bs-parent="#projectsAccordion">
        <div class="accordion-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5 class="mb-1">Название</h5>{{ el.PassportOfProjects.passportName }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Инициатор проекта</h5>{{ el.Initiatorsofprojects.FullName }} ({{
                    el.Initiatorsofprojects.initprPositions }}) - {{ el.Organizations.orgName }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Руководитель проекта</h5>{% if el.Sheffofprojects.FullName %}{{
                    el.Sheffofprojects.FullName }} ({{
                    el.Positions.positionsName }}) {% else %} Руководитель не назначен {% endif %}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Описание проблемы</h5>{{ el.PassportOfProjects.passportProblem }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Цель проекта</h5> {{ el.PassportOfProjects.passportPurpose }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Задачи проекта</h5>{{ el.PassportOfProjects.passportTasks }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Планируемые результаты</h5>{{ el.PassportOfProjects.passportResults }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Статус проекта</h5> {{ el.StadiaOfProjects.stadiaofprName }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Планируемые результаты</h5>{{ el.PassportOfProjects.passportResults }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Краткое содержание проекта</h5>{{ el.PassportOfProjects.passportContent or 'Не
                    заполнено' }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Сроки реализации проекта</h5>{{ el.PassportOfProjects.passportDeadlines or 'Не
                    заполнено' }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Календарный план</h5>{{ el.PassportOfProjects.passportStages or 'Не заполнено' }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Ресурсное обеспечение</h5>{{ el.PassportOfProjects.passportResources or 'Не
                    заполнено' }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Затраты на выполнение проекта</h5>{{ el.PassportOfProjects.passportCost or 'Не
                    заполнено' }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Критерии оценки результатов проекта</h5>{{ el.PassportOfProjects.passportCriteria
                    or 'Не заполнено'
                    }}
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Форма представления результата проекта</h5>{{
                    el.PassportOfProjects.passportFormresults or 'Не заполнено' }}
                </li>
                <li class="list-group-item" {% if session['url']=='student' or not el.Sheffofprojects.FullName %} hidden
                    {% endif %}>
                    <h5 class="mb-1">Результаты проекта</h5>
                    <div class="btn-toolbar justify-content-between" role="toolbar"
                        id="result{{ el.Projects.IDprojects }}">
                        {% with idproj=el.Projects.IDprojects,
                        signed=el.Projects.projectsFull, stadia=el.StadiaOfProjects.IDstadiaofpr %}
                        {% include "result_template.html" %}
                        {% endwith %}
                    </div>
                </li>
                <li class="list-group-item" {% if session['url']=='student' or not el.Sheffofprojects.FullName %} hidden
                    {% endif %}>
                    <h5 class="mb-1">Документы для проекта</h5>
                    <div class="btn-toolbar justify-content-between" role="toolbar"
                        id="documents{{ el.Projects.IDprojects }}">
                        {% with idpass=el.PassportOfProjects.IDpassport,
                        signed=el.PassportOfProjects.passportSigned, stadia=el.StadiaOfProjects.IDstadiaofpr %}
                        {% include "documents_template.html" %}
                        {% endwith %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}

{% if projects == [] %}
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" disabled>
            Данные не найдены
        </button>
    </h2>
</div>
{% endif %}
