{% for el in shefforg %}
<tr>
    <th scope="row"></th>
    <th scope="row"> {{ el.Shefforganizations.shefforgFirstname }} {{ el.Shefforganizations.shefforgName }}
        {{
        el.Shefforganizations.shefforgFathername }}</th>
    <th scope="row">{{ el.Organizations.orgName or '' }}</th>
    <th scope="row">{{ el.Organizations.orgYuraddress }}</th>
    <th scope="row">{{ el.Shefforganizations.shefforgEmail }}</th>
    <th scope="row">{{ el.Shefforganizations.shefforgPositions }}</th>
    <th scope="row">{{ el.Shefforganizations.shefforgDoc }}</th>
    <th scope="row">{{ el.Shefforganizations.shefforgPhone }}</th>
    <th scope="row">{{ el.Shefforganizations.Login }}</th>
</tr>
{% endfor %}
{% if shefforg == [] %}
<div> Данных не найдено </div>
{% endif %}
