{% extends "base.html" %}
{% set active_page = "projects" %}
{% block content %}
<h1>Проекты</h1>
<br>
<div class="btn-group" role="group">
    <a class="btn btn-light" data-bs-toggle="collapse" href="#collapseFilters" role="button" aria-expanded="false"
        aria-controls="collapseFilters">
        Добавить фильтры
    </a>
</div>
<br>
<div class="collapse" id="collapseFilters">
    <br>
    <input type="text" id="projectFilter" class="form-control" placeholder="Фильтр по названию проекта"
        aria-label="projectFilter" aria-describedby="basic-addon1">
    <br>
    <label for="stadia" class="form-select-label">Выберите стадию проекта</label>
    <select class="form-select" id="stadiaFilter">
        <option value="">Не использовать фильтр по стадии</option>
        {% for el in stadia %}
        <option value="{{ el.StadiaOfProjects.IDstadiaofpr }}"> {{
            el.StadiaOfProjects.stadiaofprName }}
        </option>
        {% endfor %}
    </select>
    <br>
    <input type="text" id="sheffProjFilter" class="form-control" placeholder="Фильтр по руководителю проекта"
        aria-label="sheffProjFilter" aria-describedby="basic-addon1">
    <br>
    <input type="text" id="inicFilter" class="form-control" placeholder="Фильтр по инициатору" aria-label="inicFilter"
        aria-describedby="basic-addon1">
    <br>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" id="buttonFilter" onClick="applyProjectFilters()">
            Применить фильтры
        </button>
        <button type="button" class="btn btn-light" id="buttonDropFilter" onClick="dropProjectFilter()">
            Сбросить фильтр
        </button>
    </div>
</div>
<br>
<div class="accordion" id="projectsAccordion">
    {% include "resultAccordionProjects.html" %}
</div>
<br>
{% endblock content %}
