{% extends "base.html" %}
{% set active_page = "members" %}
{% block content %}
<h1>Участники проектов</h1>
<br>
<div class="btn-group" role="group">
  <a class="btn btn-light" data-bs-toggle="collapse" href="#collapseFilters" role="button" aria-expanded="false"
    aria-controls="collapseFilters">
    Добавить фильтры
  </a>
</div>
<br>
<div class="collapse" id="collapseFilters">
  <br>
  <input type="text" id="projectFioFilter" class="form-control" placeholder="Фильтр по ФИО студента"
    aria-label="projectFioFilter" aria-describedby="basic-addon1">
  <br>
  <input type="text" id="projectRoleFilter" class="form-control" placeholder="Фильтр по ролям"
    aria-label="projectRoleFilter" aria-describedby="basic-addon1">
  <br>
  <input type="text" id="projectNaprFilter" class="form-control" placeholder="Фильтр по направлениям"
    aria-label="projectNaprFilter" aria-describedby="basic-addon1">
  <br>
  <select class="form-select" aria-label="Default select example" name="grname" id="grname">
    <option value="">Не использовать фильтр по группе</option>
    {% for el in groups %}
    <option value="{{ el.Groups.IDgroups }}"> {{ el.Groups.groupsName }} - {{
      el.Groups.groupsYear }}</option>
    {% endfor %}
    {% if groups==[] %}
    <option value="">Группы не найдены</option>
    {% endif %}
  </select>
  <br>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary" id="buttonFilter" onClick="applyMembersFilters()">
      Применить фильтры
    </button>
    <button type="button" class="btn btn-light" id="buttonDropFilter" onClick="dropMembersFilter()">
      Сбросить фильтр
    </button>
  </div>
</div>
<br>
<div class="accordion" id="membersAccordion">
  {% include "resultAccordionMembers.html" %}
</div>
<br>
{% endblock content %}
