{% extends "base.html" %}
{% set active_page = "tickets" %}
{% block content %}
<h1>Мои заявки</h1>
<br>
<a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseTableBody" role="button" aria-expanded="false"
    aria-controls="collapseTableBody">
    Отобразить данные
</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                Проект
            </th>
            <th scope="col">
                Статус заявки
            </th>
            <th scope="col">
                Курс обучения
            </th>
            <th scope="col">
                Цель участия
            </th>
            <th scope="col">
                Роль в проекте
            </th>
            <th scope="col">
                Заявка на участие
            </th>
            <th scope="col">
                Подписанная заявка на участие
            </th>
        </tr>
    </thead>
    <tbody class="collapse" id="collapseTableBody">
        {% include "resultTableStudentTickets.html" %}
    </tbody>
</table>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalModify">
        Редактировать заявку
    </button>
</div>
<br>
<div class="modal fade" id="modalModify" tabindex="-1" aria-labelledby="modalModifyLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalModifyLabel">Редактировать заявку</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="modifyApplication" method="post">
                    <div class="form-group">
                        <label for="application" class="form-select-label">Выберите заявку</label>
                        <select class="form-select" aria-label="Default select example" name="application" {% if
                            applications==[] %} disabled {% endif %}>
                            {% for el in applications %}
                            <option value="{{ el.Applications.IDapplications }}"> {{ el.PassportOfProjects.passportName
                                }} - {{ el.RolesOfProjects.rolesRole }} ({{ el.RolesOfProjects.rolesFunction }})
                            </option>
                            {% endfor %}
                            {% if applications==[] %}
                            <option value="">Заявки не найдены</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="courseYear" class="form-select-label">Введите курс обучения</label>
                        <textarea class="form-control" rows="1" id="courseYear" disabled
                            name="courseYear">{{ session["user"][2] }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="reason" class="form-select-label">Почему вы решили принять участие в проекте</label>
                        <textarea class="form-control" rows="5" id="reason" name="reason"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary" {% if applications==[] %} disabled {% endif
                            %}>Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
